<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Coloquinte de tes {{ 'mort'|trans }}s !{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet"  href="{{ asset('css/style.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script type="text/JavaScript " src="{{ asset('js/scripts.js') }}"></script>
        {% endblock %}
    </body>
</html>
