{% trans_default_domain 'FOSUserBundle' %}
<div class="formulaire-lambda">
<h1 class="titre-page">Profile</h1>
<div class="fos_user_user_show">
    <p>{{ 'inscription.nom'|trans({}, 'messages')  }} : {{ user.nom }} </p>
    <p>{{ 'inscription.prenom'|trans({}, 'messages') }} : {{ user.prenom }} </p>
    <p>{{ 'inscription.telephone'|trans({}, 'messages')  }} : {{ user.telephone }} </p>
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <div class="demande-boutons">
        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default btn-edit">{{ 'bouton.modifier.profil'|trans({}, 'messages') }}</a>
        <a href="{{ path('fos_user_change_password') }}" class="btn btn-default btn-bottom">{{ 'bouton.modifier.mdp'|trans({}, 'messages') }}</a>
    </div>
</div>
</div>
