{% trans_default_domain 'FOSUserBundle' %}

<form class="form-connexion" action="{{ path("fos_user_security_check") }}" method="post">
    <h1> {{ 'connexion.titre'|trans({}, 'messages') }}</h1>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="username">
    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="{{ 'security.login.username'|trans }}"/>
    </div>

    <div class="password">
    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input class="form-control"  type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="{{ 'security.login.password'|trans }}"/>
    </div>

    <div class="form-item">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label class="form-check-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>
    
    <input type="submit" class="btn btn-primary btn-connexion" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    <div>{{ 'connexion.inscritoupas'|trans({}, 'messages') }} <a href="{{ path('fos_user_registration_register') }}"></br>{{ 'connexion.sinscrire'|trans({}, 'messages') }}</a></div>
</form>

