{% extends "@AJMColocation/layout.html.twig" %}

{% block body %}
<div class="annonces">
<div class="titre-add">
<h1> {{ 'annonces'|trans}} </h1>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a href="{{ path('ajm_colocation_ajoutAnnonce') }}" class="btn btn-default btn-add-top">{{'bouton.ajouter.colocation'|trans}}</a>
{% endif %}
</div>
{% for annonce in listAnnonces %}
<a class="annonce" href="{{ path('ajm_colocation_detailsAnnonce', {'id': annonce.id}) }}" >
    <div class="flex">
        <i class="icon ion-ios-home-outline"></i>
        <div class="annonce-content">
            <h3>{{ annonce.titreAnnonce }}</h3>
            <div> {{'colocation.nbplaces'|trans}} : {{ annonce.nbPlaces}}</div>
            <div> {{'colocation.logementtype'|trans}} : {{ annonce.logement.type }} </div>
            <div> {{'colocation.logement.surface'|trans}} : {{ annonce.logement.surface }} m²</div>
            <div> {{'colocation.adresse.ville'|trans}} : {{ annonce.logement.adresse.ville}} </div>
        </div>
    </div>
    <div class="loyer-big">
        <h2>{{annonce.loyer}} € </h2><h5>{{'colocation.parmois'|trans}}</h5>
    </div>
</a>
{% endfor %}
</div>
{% endblock %}